{% load static %}
<h1>{{ product_detail.name}}</h1>
<p>{{product_detail.description}}</p>
<p>Price: ${{ product_detail.price_in_dollars }}</p>
<!-- action="https://sandbox.google.com/checkout/api/checkout/
v2/checkoutForm/Merchant/xxxxx"
-->
<hr>
<form id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm">
  <input name="item_name_1"
        type="hidden" value="Cranberry Preserves"/>
  <input name="item_description_1"
        type="hidden" value="Tasty jam made from cranberries."/>
  <input name="item_quantity_1" type="hidden" value="1"/>
  <input name="item_price_1" type="hidden" value="0.5"/>
  <input name="item_currency_1" type="hidden" value="USD"/>
  <input name="_charset_" type="hidden" value="utf-8"/>
  <input alt="" src="{% static 'mobiles/img/buynow.gif' %}" type="image"/>
</form>

<p><a href="{% url 'mobiles:product_list' %}">Back to product list</a></p>
